@font-face {
  font-family: 'The-Outbox-St';
  src: url('assets/The-Outbox-St.ttf.woff') format('woff'),
    url('assets/The-Outbox-St.ttf.svg#The-Outbox-St') format('svg'),
    url('assets/The-Outbox-St.ttf.eot'),
    url('assets/The-Outbox-St.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arvo', serif;
  background-image: url('assets/oriental-tiles.png');
  background-color: darkblue;
}
header {
  width: 100%;
  background-color: black;
  color: white;
  min-height: 80pt;
  font-size: 1.7rem;
  display: flex;
  align-items: flex-end;
  background-image: url('assets/memphis-mini-dark.png');
}

h2 {
  font-family: 'The-Outbox-St';

  color: #050f3e;
  font-size: 1.3rem;
}

label,
fieldset {
  font-family: 'The-Outbox-St';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 150pt;
}
fieldset label {
  flex-direction: row;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}

.banner {
  width: 100%;
  background-color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.box {
  margin-top: 20pt;
  padding: 15pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3pt solid black;
  max-width: 80%;
  background-color: white;
}
.box * + * {
  margin-top: 1rem;
}

.delete {
  align-self: flex-end;
}
/* Background pattern from Toptal Subtle Patterns */
